/* top image  */
@keyframes moveImage {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(15px, -15px);
  }
}

.topimage {
  bottom: 0;
  left: 0;
  animation: moveImage 2s linear infinite alternate;
}

/* bottom image  */
@keyframes moveBottomImage {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-15px, 15px);
  }
}

.bottomimage {
  bottom: 0;
  left: 0;
  animation: moveBottomImage 2s linear infinite alternate;
}
